:root {
    --bg-color: white;
    --text-color: #000000;
    --main-color: #d61b3c;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none!important;
}

.header .p-0 .navbar i {
    color: var(--text-color);
}

.header #logo {
    padding-left: 50px;
    font-size: 30px;
    color: var(--main-color);
}

#signup {
    background-color: #d3d3d3;
    border-radius: 30px;
}

#login {
    background-color: #d3d3d3;
    border-radius: 30px;
}
.ca{
    color: var(--main-color);
    text-decoration: none!important;
}

#contactus {
    background-color: #d3d3d3;
    border-radius: 30px;
}

.text {
    padding-bottom: 40px;
}

.btn-block {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.btn-block:hover {
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

label {
    width: 100%;
}

.form_control input {
    outline-color: red;
}

.form_control.success input {
    border-color: #2ecc71;

}

.form_control.error input {
    border-color: #e74c3c;

}

.form_control i {
    visibility: hidden;
    position: absolute;
}

.form_control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}


.form_control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;

}

.form_control small {
    visibility: hidden;
    position: absolute;
}

.form_control.error small {
    color: #e74c3c;
    visibility: visible;
}

.row>* {
    flex-shrink: 0;
    width: 77%;
}